<<<<<<< HEAD
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Style*/
a{
    color: inherit;
    text-decoration: none;
}
body{
    font: 16px/28px arial, sans-serif;
    background-color: black;  
}

.header{
    background-color: rgb(182, 6, 6);
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav h1{
    position: absolute;
    left: 0;
    padding: 10px 13%;
    font-family: 'Times New Roman', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;   
    position: relative;
    float: right;
}

nav .mainMenu>li{
    display: inline-block;
    margin-right: -5px;
}

nav a{
    margin: 0;
    text-align: left;
    padding: 12px 15px 12px 15px;
    background: rgb(182, 6, 6);
    position: relative;
    display: block;
}

nav li:hover>a{
    background: gray;
    cursor: pointer;
}

nav .subMenu{
    position: absolute;
    display: none;
}
nav .mainMenu>li:hover .subMenu{
    display: block;
}

nav .disconnection{
    pointer-events: none; 
}

.container{
    width: 1000px;
    margin: auto;
    background-color: rgb(207,207,207);
}

.main {
    background-color: white;
    margin-top: 50px;
    width: 960px;
    padding: 20px;
    float: left;
}

.main .head {
    font-size: 40px;
    font-weight: lighter;
    font-family: 'Tw Cen MT';
    color: rgb(0, 0, 0);
    padding-bottom: 5px;
}

.main .subhead {
    font-size: 25px;
    font-weight: lighter;
    font: arial;
    font-family: 'Poppins', sans-serif;
    color: rgb(182, 6, 6);
    padding-bottom: 3px;
    padding-top: 20px;
}

.main {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.tabel table {
    font: 17px/30px Verdana, Arial, Helvetica, sans-serif;
    border-collapse: collapse; width: 960px;
}
.tabel table th {
    padding: 0 0.5em; 
    text-align: left; 
    background-color: #ff615c;
}
.tabel table tr {
    border-top: 1px solid #fb7a31; 
    border-bottom: 1px solid #fb7a31;
    background: rgb(207,207,207);
}
.tabel table td {
    border-bottom: 1px solid #ccc; padding: 0 0.5em;
}
.tabel  form {
    margin-top: 30px;
}
.tabel ul {
    list-style-type: none; margin: 0px; padding: 0px;
}
.tabel li {
    padding: 12px; border-bottom: 1px solid #eee;
}
.tabel li:first-child, li:last-child {
    border-top: 1px solid #777;
}
.tabel label {
    width: 150px; float: left; margin-top: 3px; 
    display: inline-block;
}
.tabel #pesan {
    border: 1px dashed #eee; padding: 10px;
    color: #808080; font-family: monospace;
}

.penutup{
    width: 1000px;
    margin: auto;
    background-color: rgb(63, 63, 63);
    
}

.penutup h3{
    color: white;
    font:20px 'Poppins', sans-serif;
    font-weight: bold;
    width: 10%;
    margin: 0 auto;
}

.medsos{
    padding: 5px 0;
}

.medsos ul li{
    display: inline-block;
    margin:0 5px;
}

.icon{
    width: 22%;
    margin: 0 auto;
}

.medsos .icon img{
    height: 40px;
}



/* Clear Fix */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
=======
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Style*/
a{
    color: inherit;
    text-decoration: none;
}
body{
    font: 16px/28px arial, sans-serif;
    background-color: black;  
}

.header{
    background-color: rgb(182, 6, 6);
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav h1{
    position: absolute;
    left: 0;
    padding: 10px 13%;
    font-family: 'Times New Roman', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;   
    position: relative;
    float: right;
}

nav .mainMenu>li{
    display: inline-block;
    margin-right: -5px;
}

nav a{
    margin: 0;
    text-align: left;
    padding: 12px 15px 12px 15px;
    background: rgb(182, 6, 6);
    position: relative;
    display: block;
}

nav li:hover>a{
    background: gray;
    cursor: pointer;
}

nav .subMenu{
    position: absolute;
    display: none;
}
nav .mainMenu>li:hover .subMenu{
    display: block;
}

nav .disconnection{
    pointer-events: none; 
}

.container{
    width: 1000px;
    margin: auto;
    background-color: rgb(207,207,207);
}

.main {
    background-color: white;
    margin-top: 50px;
    width: 960px;
    padding: 20px;
    float: left;
}

.main .head {
    font-size: 40px;
    font-weight: lighter;
    font-family: 'Tw Cen MT';
    color: rgb(0, 0, 0);
    padding-bottom: 5px;
}

.main .subhead {
    font-size: 25px;
    font-weight: lighter;
    font: arial;
    font-family: 'Poppins', sans-serif;
    color: rgb(182, 6, 6);
    padding-bottom: 3px;
    padding-top: 20px;
}

.main {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.tabel table {
    font: 17px/30px Verdana, Arial, Helvetica, sans-serif;
    border-collapse: collapse; width: 960px;
}
.tabel table th {
    padding: 0 0.5em; 
    text-align: left; 
    background-color: #ff615c;
}
.tabel table tr {
    border-top: 1px solid #fb7a31; 
    border-bottom: 1px solid #fb7a31;
    background: rgb(207,207,207);
}
.tabel table td {
    border-bottom: 1px solid #ccc; padding: 0 0.5em;
}
.tabel  form {
    margin-top: 30px;
}
.tabel ul {
    list-style-type: none; margin: 0px; padding: 0px;
}
.tabel li {
    padding: 12px; border-bottom: 1px solid #eee;
}
.tabel li:first-child, li:last-child {
    border-top: 1px solid #777;
}
.tabel label {
    width: 150px; float: left; margin-top: 3px; 
    display: inline-block;
}
.tabel #pesan {
    border: 1px dashed #eee; padding: 10px;
    color: #808080; font-family: monospace;
}

.penutup{
    width: 1000px;
    margin: auto;
    background-color: rgb(63, 63, 63);
    
}

.penutup h3{
    color: white;
    font:20px 'Poppins', sans-serif;
    font-weight: bold;
    width: 10%;
    margin: 0 auto;
}

.medsos{
    padding: 5px 0;
}

.medsos ul li{
    display: inline-block;
    margin:0 5px;
}

.icon{
    width: 22%;
    margin: 0 auto;
}

.medsos .icon img{
    height: 40px;
}



/* Clear Fix */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
>>>>>>> 5e19617e0569553664a9197afb7fa7633210152a
}